

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}





/*CSS DIV DE GRID LAYOUT*/
.grid-layout{
  display: grid;
  margin: 0 auto;
  width: 100%;
  min-height: 800px;

  background-color:white;
  grid-template-areas: "nav content"
                      "nav content"
                      "nav content"
                      "footer footer";

  grid-template-columns: 17% auto;
}


/*CSS DEL HEADERNAV*/

.headerNav{
  grid-area:nav;
 background-color: #1a1a1a;
 color: white;
 margin-left: 0px;
display: flex;
flex-direction: column;
overflow: hidden;
box-shadow: 0px 10px 20px #ddd;
border-radius: 1px solid white; 
}
/*CSS DEL DIV LOGO QUE CONTIENE EL H3 Y EL PLANET LOGO*/
.headerNav .logo{
  display: flex;
  margin-bottom: 20px;
  flex-direction: row;
  align-items: center;
  margin:20PX;
} 

.headerNav .logo h3{
 
  flex-basis: 40px;
  margin-left: 10px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 0%;
  margin-bottom: 0px;
}

.link-logo{
  text-decoration: none;
  color: inherit;
}

.headerNav .logo span{
  display: block;
  font-size: 90px;
  font-weight: bolder;
  margin-top: -8px;
  margin-bottom: -20px;
  }

  /*CSS DEL LOS UL DEL HEADER NAV*/
  .headerNav ul{
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  list-style: none;
  padding-top:50px;
  padding-left: 0px;
    
  }
  /*CSS DEL LOS LI DEL HEADER NAV*/
  .headerNav li{
    display: flex;
    justify-content: start;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 25%;
  }
  .headerNav li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-left: 15px;
    margin-right: 15px;
    transition: all 300ms;
    }

    /*HOVER DE LOS LI (COLORCITO CUANDO SE SELECCIONAN)*/
    .headerNav .active,
.headerNav a:hover{
  color: #9806ff;
}

/*CSS DEL DIV CONTENT QUE CONTIENE DONDE SE VAN A PRESENTAR LOS ELEMENTOS PRINCIPALES*/
.content{
  color:white ;
    position: relative;
    background-color: #000; /* Color de fondo por defecto */
    overflow: hidden;
  grid-area:content   
}

.stars {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"%3E%3Ccircle cx="50" cy="50" r="2" fill="%23fff" /%3E%3C/svg%3E');
  animation: blinkStars 5s infinite; /* Animación para el parpadeo de las estrellas */
}


@keyframes blinkStars {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
}


/*CSS DEL DIVE HOME QUE CONTIENE TODO EL CONTENIDO DEL COMPONENTE INICIO*/
.home h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 80px;
  color: white;
  }
  .home strong{
    color: #9806ff;
  }
  .home h2{
    color:whitesmoke;
    font-weight: lighter;
  }
  .home .title a{
    color: white;
    background-color: #9806ff;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 300ms;
  }
  .home .title a:hover{
    background-color: green;
    cursor: pointer;
  }

  .home p{
    color: white;
  }


/*CSS DEL LISTADO DE PROYECTOS*/
.page .heading,
.home .heading{
  font-weight: 500;
  font-size: 40px;
  color: white;
 margin-bottom: 0px;
}

.page .heading{
  font-size: 55px;
  font-weight: bold;
}

.home p{
  color:white;
}

.works{
  display: flex;
  flex-wrap: wrap;
}
.workItem{
  flex-basis: 30%;
  flex-grow: 1;
  margin: 30px;
  }

  .workItem .mask{
    width: 100%;
  min-height: 400px;
  overflow: hidden;
  border: solid 1px #ccc;
  box-shadow: 0px 5px 15px gray;
  }

  .workItem .mask:hover img{
    width: 150%;
    margin-right: 30%;
    cursor: pointer;
    }

    .workItem h2{
      color:white;
      margin-top: 5px;
      margin-bottom: 10px;
      display: block;
      font-size: 30px;
    }


    .workItem h3{
      color:white;
      margin-top:0px;
      display: block;
      border-top:1px solid #ddd ;
      padding-top: 10px;
      
    }
    

    .workItem a{
      color: white;
      text-decoration: none;
      transition: 300ms;
    }
    .workItem a:hover{
    color: #9806ff;
    
    }
    

    .pageWork .mask{
      
      height: 300px;
      overflow: hidden;
      box-shadow: 0px 0px 20px #ddd;
    }

/*CSS DEL FOOTER*/
.footer{
  grid-area: footer;
  text-align: center;
  font-size: 14px;
  border-top:  3px solid black;
  padding-top: 45px;
  background-color: #f5f5f5;
  min-height: 40px;
  line-height: 7px;
  color: #444;

}